<ion-view >
  <ion-content>
    <div class="row">
      <div class="col"><img src="img/imagen1.jpg" width="100%" height="500"> </div>
      <div class="col"><img src="img/imagen2.png" width="100%" height="500"> </div>
    </div>
    <div class="row">
      <div class="col"><img src="img/imagen3.jpg" width="100%" height="500"> </div>
      <div class="col"><img src="img/imagen4.jpg" width="100%" height="500"> </div>
    </div>
    <div class="row">
      <div class="col"><img src="img/imagen5.png" width="100%" height="500"> </div>
      <div class="col"><img src="img/imagen6.jpg" width="100%" height="500"> </div>
    </div>
    <div class="row">
      <div class="col"><img src="img/imagen7.jpg" width="100%" height="500"> </div>
      <div class="col"><img src="img/imagen8.jpg" width="100%" height="500"> </div>
    </div>
    <div class="row">
      <div class="col"><img src="img/imagen9.jpg" width="100%" height="500"> </div>
      <div class="col"><img src="img/imagen10.jpg" width="100%" height="500"> </div>
    </div>
    <div class="row">
      <div class="col"><img src="img/imagen11.jpg" width="100%" height="500"> </div>
      <div class="col"><img src="img/imagen12.jpg" width="100%" height="500"> </div>
    </div>    
  </ion-content>
</ion-view>
