<ion-view class="fondouser">
	<ion-content class="fondouser">
		<div class="bar bar-header bar-dark ">
		<h1 class="title">Mis Datos Personales</h1>  
		</div><br><br><br><br><br><br>
	<div class="row">
	 <div class="col">	
	 	<h1 class="titulo2">Todo Sobre Mi</h1>
	 </div>
	 <div class="col">
	 	<div class="card">
	 		<input type="checkbox" name="">
	 		<div class="toggle">+</div>
	 		<div class="imgBx"><img src="img/foto2.jpg"></div>
	 		<div class="details"><h1 class="datosxd">Mi nombre</h1><br>
	 			<p class="datos">daniel eduardo cruz monroy</p>
	 			<h1 class="datosxd">años</h1>
	 			<p class="datos">16 años</p>
	 			<h1 class="datosxd">correo electronico</h1>
	 			<p class="datos">guayo9024@gmail.com</p>
	 			<h1 class="datosxd">telefono</h1>
	 			<p class="datos">56433018</p></div>
	 	</div>
	 </div>
	</div>
	</ion-content>
</ion-view>	

