<ion-view class="fondouser">
	<ion-content class="fondouser">
		<div class="bar bar-header bar-dark ">
		<h1 class="title">Mis Datos Personales</h1>  
		</div><br><br><br><br><br><br>
	<div class="row">
	 <div class="col">	
	  <p class="titulo2">Nombre</p>
	   <p class="texto">Daniel Eduardo Cruz Monroy</p>
		<p class="titulo2">Edad</p>
	    <p class="texto">16 años</p>
	   <p class="titulo2">Fecha de Nacimiento</p>
	   <p class="texto">8/1/2002</p>
	  <p class="titulo2">Numero de Telefono</p>
     <p class="texto">56433018</p>
	<p class="titulo2">Correo Electronico</p>
   <p class="texto">guayo9024@gmail.com</p>
	 </div>
	 <div class="col">
	 	<img src="img/fotoxd.jpg"width="400"height="300">
	 </div>
	</div>
	</ion-content>
</ion-view>	

