
.fondouser {
	background-color:#15314D; 
}

.titulo2 {
	color:#FFF;
	font-family:Arial; 
	font-size:25px;
	padding-left:7%;    
}
.texto {
	color: #F3EDC4;
	font-style:bold font;
	font-family:Arial;
	padding-left:9%;
	font-size: 20px   	
}
.fondochat {
	background-color: #28467C;
}
img {
	border:solid black 5px;
}

.fondostatus{
  background-color: #12475f;
  line-height: 1.6;
  text-align: center;
}
h1 {
	color:#FFF; 
}
.container {
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
}

#showcase {
  height: 300px;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation: heading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes heading {
  0%   {top: -50px;}
  100% {top: 200px;}
}




.btn{
  display: inline-block;
  color: #fff;
  font-size:20px; 
  text-decoration: none;
  padding: 1rem 2rem;
  border: #fff 3px solid;
  margin-top:40px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

.btn:hover {
  transform: rotateY(180deg);
}

@keyframes btn {
  0%   {opacity:0}
  100% {opacity: 1}
}	