
.fondouser {
	background-color:#15314D; 
}

.titulo2 {
	color:#FFF;
	font-family:Arial; 
	font-size:25px;
	padding-left:7%;    
}
.texto {
	color: #F3EDC4;
	font-style:bold font;
	font-family:Arial;
	padding-left:9%;
	font-size: 20px   	
}